.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);

}

.o-box-logo-app {
    width: 18vh;
    height: 7vh;
}


a:hover,
mat-icon:hover,
.o-inicio-button:hover {
    color: var(--primary-color) !important;
}

.o-box-menu-items {
    border-right: 2px solid var(--tertiary-color);
}

.o-color-icon {
    color: var(--secundary-color);
}

.o-icon-cuenta {
    font-size: 26px;
}

.o-box {
    padding: 0 2vh;
    display: flex;
    align-items: center;
}

.o-box-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
}

.o-box-grid-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.o-box-grid-icon {
    display: flex;
    justify-content: flex-end;
}

.example-container {
    display: flex;
    background: rgba(255, 255, 255, 0);
    box-shadow: 8px 0px 11px -5px rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 4rem;
    bottom: 0rem;
    width: 34vh;
    left: 0;
    right: 0;
    flex: 1;
    margin-left: -1rem;
    /* z-index: -2; */
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34vh;
    background: var(--tertiary-color);
    box-shadow: 8px 0px 11px -5px rgba(0, 0, 0, 0.48);
    flex: 1;

}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.menu-movil{
    display: none;
}

.menu-pc{
    display: block;
}

.o-box-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-bottom: 5vh;
}

.o-circle{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: var(--green-light-color);
    box-shadow: 0px 3px 8px #00000029;
    margin: 2vh 0;
}

.o-box-name{
    display: flex;
    flex-direction: row;
}

.o-title-name{
    margin: 0;
    color: var(--green-titles-color);
    font-size: 17px;
}

.o-icon-lock{
    font-size: 2vh;
    color: var(--green-titles-color);
}

.o-profile-title{
    margin-bottom: 3vh;
}

::ng-deep .mat-expansion-panel-header{
    background-color: var(--green-titles-color) !important;
}

::ng-deep .mat-expansion-panel-header-title,
::ng-deep .mat-expansion-indicator::after {
    color: white !important;
}

.o-title-menu{
    color: var(--green-titles-color);
}

::ng-deep .mat-expansion-panel{
    box-shadow: none !important;
}

@media (min-width: 1280px) and (max-width: 1400px) {
    .o-box-logo-app {
        width: 18vh;
        height: 10vh;
    }

    .example-container {
        width: 45vh;
        top: 4rem;
    }
    
    .example-sidenav {
        width: 45vh;
        background: var(--tertiary-color);
    }

    .o-box-grid {
        grid-template-columns: 20% 60% 20%;
    }
    
    .o-box-grid-logo {
        display: flex;
        align-items: center;
    }
}

//Celulares
@media (max-width: 1024px) {
    .o-movil {
        display: none;
    }

    .o-box-logo-app {
        width: 12vh;
        height: 5vh;
    }

    .example-container {
        top: 5rem;
        position: relative;
        z-index: 2;
    }
    .menu-movil{
        display: block;
    }

    .menu-pc{
        display: none;
    }

    .example-sidenav {
        top: 3.5rem !important;
    }

    .o-box-grid{
        grid-template-columns: 25% 50% 25%;
      }
      
      .o-box-grid-logo{
        justify-content: right;
      }
}