<div class="o-box w-100">
    <!-- SECCION INZQUIERDA-->
    <div class="o-box-left w-100">
        <div class="o-box-left-items">
            <div class="text-center">
                <h1 class="o-box-left-items-title--color o-box-left-items-title">{{title}}</h1>
            </div>
            <div>
                <img src="./assets/images/inicio2.png" class="o-box-left-items-title-imgP">
            </div>
            <div class="text-center o-box-left-items-box">
                <h3 class="o-box-left-items-title--color o-box-left-items-subtitle">{{subTitle}}</h3>
            </div>
            <div>
                <img src="./assets/images/inicio1.png">
            </div>

        </div>
    </div>

    <!-- SECCION DERECHA-->
    <div class="o-box-right w-100">
        <div class="o-box-right-links">
            <a class="o-box-right-links-a">¿Aún no tienes una cuenta?</a>
            <a class="o-box-right-links-a">Regístrate ahora</a>
        </div>

        <div class="o-box-right-form">
            <h2 class="o-box-right-form-title">Iniciar sesión en Coink</h2>

            <div class="o-box-right-form-inputs">
                <p>Correo electrónico</p>
                <mat-icon matSuffix class="icon">person_outline</mat-icon>
                <input class="input-field" type="text" placeholder="Ingrese el correo" [(ngModel)]="user" (change)="userInput()">
            </div>

            <div class="o-box-right-form-inputs">
                <p>Contraseña</p>
                <mat-icon matSuffix class="icon">visibility_outline</mat-icon>
                <input class="input-field" type="password" placeholder="Ingrese la contraseña" [(ngModel)]="password" (change)="userPass()">
            </div>

            <div>
                <mat-checkbox class="example-margin"><span class="o-text-recordar">Recordarme</span></mat-checkbox>
            </div>
        </div>

        <div class="o-box-right-form o-box-right-buttons">
            <button mat-raised-button class="o-box-right-buttons-init" [disabled]="(!userText || !passwordText)" (click)="goHome()">Iniciar sesión</button>
            <a class="o-box-right-links-a o-box-right-buttons-a">¿Olvidaste tu contraseña?</a>
        </div>
    </div>