<header-app></header-app>

<div class="o-box w-100">
    <div>

    </div>
    <div class="w-100">
        <div class="o-box-links">
            <a class="o-link">/ {{pantallaActual}}</a>
        </div>

        <div class="o-box-links o-box-search">
            <a class="o-title">{{pantallaActual}}</a>
            <div>
                <button mat-button class="o-box-search-button" (click)="openFilters()">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>
            </div>
        </div>

        <div class="o-box-links o-box-search o-box-filters" *ngIf="seccionFiltros">
            <div class="o-box-inputs-search">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="nombre" [disabled]="disabledInput" (change)="userChange()">
                </mat-form-field>

                <mat-form-field appearance="fill" class="o-height">
                    <mat-label>Especie del personaje</mat-label>
                    <input matInput [(ngModel)]="tipoPersonaje" [disabled]="disabledInputTipo" (change)="tipoChange()">
                </mat-form-field>
            </div>

            <div class="o-box-inputs-search">
                <button mat-raised-button class="o-box-right-buttons-init o-button-clean" (click)="cleanFilters()">Limpiar filtros</button>
                <button mat-raised-button class="o-box-right-buttons-init" (click)="consultarPersonaje()" [disabled]="inactive">Buscar</button>
            </div>
        </div>

        <div class="o-box-links o-box-fav">
            <button mat-raised-button class="o-box-right-buttons-init o-button-clean">Favoritos</button>
        </div>

        <!--Tabla-->
        <div class="o-box-links o-box-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef> Imagen </th>
                    <td mat-cell *matCellDef="let element"> 
                      <img src="{{element.image}}" alt="" width="40" height="40" class="o-img-personaje">    
                  </td>
                  </ng-container>
        
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="especie">
                  <th mat-header-cell *matHeaderCellDef> Especie </th>
                  <td mat-cell *matCellDef="let element"> {{element.species}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="ultima locacion">
                  <th mat-header-cell *matHeaderCellDef> Ultima locación </th>
                  <td mat-cell *matCellDef="let element">{{element.location.name}}</td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="ultimo episodio">
                  <th mat-header-cell *matHeaderCellDef> Ultimo episodio </th>
                  <td mat-cell *matCellDef="let element"> {{element.episode[element.episode.length - 1]}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="modificar">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">       
                    <button mat-raised-button class="o-button-pink-hover" >
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                </td>
                </ng-container>
                <ng-container>
                    
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[5]" showFirstLastButtons class="w-100 mat-elevation-z8"></mat-paginator>
              
        </div>

    </div>
</div>